@import 'reset';

form {
  margin: 0;
  padding: 0;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  legend {
    display: inline;
  }
}

.field {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  &.row--full {
    grid-column: 1 / -1;
  }
  &.row--half {
    grid-column: var(--starting-column, 1) / span var(--span, 1);

    &.row--left {
      --starting-column: 1;
      --span: 1;
    }
    &.row--right {
      --starting-column: 2;
      --span: 1;
    }
  }
}
