@import 'reset';
@import 'fonts';

$tablet: 768px;
$desktop: 1280px;

:root {
  --font-family: 'Space Grotesk', sans-serif;
  --font-weight-500: 500;
  --clr-deep-violet: #21092f;
  --clr-purplish-grey: #8f8694;
  --clr-light-grey: #dfdee0;
  --clr-white: #ffffff;
  --clr-gradient: linear-gradient(-45deg, #6348fe, #610595);
  --clr-error: #ff5050;
}
body {
  width: 100%;
}

input::placeholder {
  @extend .text, .heading, .lg;
  opacity: 0.25;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  background-image: url('/images/bg-main-mobile.png');
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    background-size: 100% 50%;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    height: 100dvh;
    background-image: url('/images/bg-main-desktop.png');
    background-size: contain;
  }
}

.full-width {
  width: 100%;
}

.btn {
  border: none;
  cursor: pointer;
  transition: transform 0.07s ease-in-out;
  &:active,
  &:focus {
    transform: scale(0.95);
  }
  &.btn--primary {
    padding-block: 15px;
    padding-inline: 0px;
  }
}

.rounded {
  border-radius: 0.5rem;

  &--sm {
    border-radius: 0.25rem;
  }

  &--md {
    border-radius: 0.5rem;
  }

  &--lg {
    border-radius: 0.625rem;
  }
}

.bg {
  &.bg--dark {
    background-color: var(--clr-deep-violet);
  }
  &.gb--light {
    background-color: var(--clr-white);
  }
}

.text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-500);

  &.dark {
    color: var(--clr-deep-violet);
  }

  &.light {
    color: var(--clr-white);
  }

  &.secondary {
    color: var(--clr-purplish-grey);
  }

  &.error {
    color: var(--clr-error);
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.regular {
    font-weight: var(--font-weight-500);
  }

  &.normal {
    font-weight: var(--font-weight-500);
  }

  &.body {
    font-size: 0.75rem;

    &.sm {
      letter-spacing: 0px;
    }

    &.md {
      letter-spacing: 0.125rem;
    }
    &.lg {
      font-size: 0.865rem;
      letter-spacing: 0.125rem;

      @media screen and (min-width: $tablet) {
        font-size: 14px;
        letter-spacing: 2px;
      }
    }
  }

  &.heading {
    &.lg {
      @media screen and (min-width: $tablet) {
        font-size: 1.125rem;
        letter-spacing: 0;
      }
    }

    &.xl {
      letter-spacing: 2.2px;
      font-size: 18px;

      @media screen and (min-width: $desktop) {
        font-size: 1.75rem;
        letter-spacing: 3.42px;
      }
    }
  }
}

.fieldset {
  display: flex;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  legend {
    display: inline;
  }
}

.card-form {
  --column-gap: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 381px;
  row-gap: 1.25rem;
  column-gap: 11px;
  width: 100%;
  padding: 1.5rem;
  padding-top: 0rem;

  @media screen and (min-width: $desktop) {
    padding: unset;
    margin-left: 127px;
  }

  &__success {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-inline: 1.5rem;
    &-icon {
      margin-bottom: 19px;
    }
  }

  & &__input {
    position: relative;
    isolation: isolate;
    width: 100%;
    border-radius: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1;
    padding-left: 1rem;
    padding-block: 11px;
  }

  & &__input-wrapper {
    width: 100%;
    background-image: linear-gradient(var(--clr-light-grey), var(--clr-light-grey));
    padding: 1px;
    border-radius: 0.5rem;

    &:has(.card-form__input:active, .card-form__input:focus) {
      background-image: linear-gradient(-45deg, rgba(99, 72, 254, 1) 0%, rgba(97, 5, 149, 1) 100%);
    }

    &.error {
      background: var(--clr-error);
    }
  }
}

.field {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.row {
  &.row--full {
    grid-column: 1 / -1;
  }
  &.row--half {
    grid-column: var(--starting-column, 1) / span var(--span, 1);

    &.row--left {
      --starting-column: 1;
      --span: 1;
    }
    &.row--right {
      --starting-column: 2;
      --span: 1;
    }
  }
}

.card {
  --image: '';

  grid-column-start: var(--column-start);
  grid-column-end: var(--column-end);
  grid-row-start: var(--row-start);
  grid-row-end: var(--row-end);
  // width: 272px;
  aspect-ratio: 1.586/1;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: var(--image);
  z-index: var(--z);
  box-shadow: rgba(0, 0, 0, 14.25%) 0 39px 60px;

  * {
    position: absolute;
  }

  @media screen and (min-width: $tablet) {
    //max-width: 381px;
    width: 381px;
  }

  @media screen and (min-width: $desktop) {
    width: 447px;
  }

  &.card {
    &--front {
      --image: url('/images/bg-card-front.png');
      --z: 2;
      --column-start: 2;
      --column-end: 4;
      --row-start: 3;
      --row-end: 5;

      @media screen and (min-width: $tablet) {
        margin-right: 94px;
      }
    }

    &--back {
      --image: url('/images/bg-card-back.png');
      --z: 1;
      --column-start: 3;
      --column-end: 5;
      --row-start: 2;
      --row-end: 3;

      @media screen and (min-width: $tablet) {
        margin-left: 94px;
      }
    }
  }

  &__container {
    --padding-inline: 1rem;
    --padding-top: 2rem;
    --padding-bottom: 2rem;
    width: 100%;
    // max-width: 381px;
    position: relative;
    display: grid;
    grid-template-columns: var(--padding-inline) 61px auto 61px var(--padding-inline);
    grid-template-rows: var(--padding-top) 88px auto 88px var(--padding-bottom);

    @media screen and (min-width: $tablet) {
      margin-block: 2.5rem;
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 31px;
      --padding-inline: 30%;
      --padding-top: 8rem;
      --padding-bottom: 2rem;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 164px;
    }
  }

  &__name {
    left: 19px;
    top: 80%;
  }

  &__number {
    left: 19px;
    top: 50%;
  }

  &__expiration-date {
    right: 19px;
    top: 80%;
  }

  &__cvc {
    font-size: 9px;
    top: 50%;
    right: 19px;
    transform: translate(0, -50%);
  }

  &__logo {
    left: 19px;
    top: 17.6px;
    height: 30px;
  }
}
